@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.messages {
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow-y: scroll;
  /* scrollbar-width: none; */
}